.application__title {
  margin: 0;
  margin-bottom: 37px;
}

.application__description {
  margin: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--c-black);
}

.application__wrapper {
  margin: 0 auto;
  padding: 27px 20px 32px;
  max-width: 1220px;
}
