.button {
  display: inline-block;

  font-family: var(--accent-font);
  font-weight: 400;

  background-color: var(--c-basic-green);
  color: var(--c-white-default);
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}
