.catalog-additional {
  position: relative;

  &::before {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: var(--c-basic-green);
    content: "";

    @media (min-width: $tablet-width) {
      top: 56px;
    }

    @media (min-width: $desktop-width) {
      top: 61px;
    }
  }
}

.catalog-additional__container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 26px 0 15px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      top: 85px;
      left: 20px;
      right: 0;
      width: calc(100% - 40px);
      height: 1px;
      background-color: var(--c-special-gray);
      content: "";
    }
  }

  @media (min-width: $tablet-width) {
    padding: 34px 30px 76px;
    width: 768px;
    gap: 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 110px 86px;
    width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.catalog-additional__title {
  position: relative;
  margin: 0;
  margin-bottom: 1px;
  padding-left: 20px;
  padding-right: 21px;
  width: max-content;
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--c-white-default);
  color: var(--c-black);
  max-width: 300px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    margin-left: 0;
    padding-left: 36px;
    padding-right: 37px;
    font-size: 36px;
    line-height: 36px;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 1px;
    padding-left: 40px;
    padding-right: 35px;
    margin-left: -40px;

    &::after {
      position: absolute;
      bottom: -81px;
      left: 40px;
      right: 0;
      width: 895px;
      height: 1px;
      background-color: var(--c-special-gray);
      content: "";
    }
  }
}

.catalog-additional__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 895px;
  }
}

.catalog-additional__item {
  padding: 13px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    box-shadow: inset 0 0 0 1px var(--c-special-gray);
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    box-shadow: none;
    padding: 15px 0 17px;
    align-items: center;
    flex-wrap: nowrap;

    &::before {
      position: absolute;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
      width: 895px;
      height: 1px;
      background-color: var(--c-special-gray);
      content: "";
    }
  }
}

.catalog-additional__heading {
  margin: 0;
  margin-bottom: 13px;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--c-secondary-black);

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 300px;
  }
}

.catalog-additional__description-list {
  margin: 0;
  margin-bottom: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 4px;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 40px;
    width: 285px;
  }
}

.catalog-additional__desc-definition {
  justify-content: end;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 49px;
    min-width: 42px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    place-content: start;
    text-align: start;
  }
}

.catalog-additional__order-link {
  position: relative;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  &::after {
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--c-special-gray);
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    flex-grow: 0;
  }
}

.catalog-additional__wrapper {
  position: relative;
  padding: 187px 61px 43px 58px;
  background-color: var(--c-basic-green);
  background-image: url("../img/image-additional-product.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-bonus-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 71px 124px 69px 80px;
    background-image: url("../img/catalog-bonus-tablet@1x.png");
    background-size: cover;
    display: flex;
    justify-content: end;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-bonus-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 185px 43px 42px 40px;
    background-image: url("../img/catalog-bonus-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-bonus-desktop@2x.jpg");
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../img/sprite.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: 101px 59px;
    background-size: 78px 80px;
    content: "";

    @media (min-width: $tablet-width) {
      background-position: 77px 57px;
    }

    @media (min-width: $desktop-width) {
      background-position: 84px 56px;
    }
  }
}

.catalog-additional__bonus {
  padding: 0 20px 20px;
  font-size: 16px;
  line-height: 20px;
  color: var(--c-white-default);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.catalog-additional__text {
  margin: 0;
  width: 161px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
