.contacts {
  background-color: var(--c-white-default);

  &--inner {
    background-color: var(--c-basic-gray);

    @media (min-width: $tablet-width) {
      background-color: var(--c-white-default);
    }
  }
}

.contacts__wrapper {
  margin: 0 auto;
  max-width: 768px;
}

.contacts__container {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 565px;
  }
}

.contacts__lead {
  margin: 0;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--c-black);
}

.contacts__address,
.contacts__city {
  margin: 0;
  line-height: 20px;
}
