.copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    content: "";

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.copyright__text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: var(--c-dark-gray);
  transform: translateY(-4px);

  @media (min-width: $tablet-width) {
    transform: translateY(0);
  }
}

.copyright__link:active .copyright__text {
  opacity: 0.3;
}

.copyright__picture {
  fill: #666666;
}

.copyright__link:hover .copyright__picture,
.copyright__link:focus .copyright__picture {
  fill: var(--c-basic-green);
}

.copyright__link:active .copyright__picture {
  opacity: 0.3;
}
