.guidance {
  padding: 10px 20px 49px;
  background-color: var(--c-white-default);

  @media (min-width: $tablet-width) {
    padding: 0 109px 47px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 36px;
  }
}

.guidance__wrapper {
  margin: 0 auto;
  max-width: 1220px;
}

.guidance__title {
  margin: 0;
  margin-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.guidance__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 54px);
  gap: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 153px;
    row-gap: 77px;
    counter-reset: new;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    column-gap: 78px;
  }
}

.guidance__item {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 204px;
    padding: 111px 26px 57px 0;
    font-size: 16px;
    line-height: 24px;
    counter-increment: new 1;
    z-index: 1;

    &::after {
      content: counter(new);
      display: block;
      position: absolute;
      top: -40px;
      left: 118px;
      width: 20px;
      color: var(--c-basic-gray);
      text-align: left;
      font-size: 280px;
      line-height: 280px;
      font-family: var(--accent-font);
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    max-width: 245px;
  }

  &::before {
    position: absolute;
    top: -3px;
    left: -80px;
    height: 60px;
    width: 60px;
    background-color: var(--c-basic-green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    content: "";

    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
      height: 80px;
      width: 80px;
    }
  }
}

.guidance__item--healthy {
  &::before {
    background-image: url("../img/sprite.svg#leaf");
  }
}

.guidance__item--making {
  &::before {
    background-image: url("../img/water.svg");
  }
}

.guidance__item--feeding {
  &::before {
    background-image: url("../img/icon-eat.svg");
  }
}

.guidance__item--effect {
  &::before {
    background-image: url("../img/time.svg");
  }
}
