.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-content__lable {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.item-content__input {
  padding: 14px 20px 13px;
  flex-grow: 1;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--c-dark-gray);
  border: none;
  box-shadow: inset 0 0 0 1px #e7e7e7;
}
