.promo {
  min-height: 477px;
}

.promo__container {
  padding: 27px 35px 10px;
  background-color: var(--c-pressed-green);
  background-image: url("../img/promo-cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  color: var(--c-white-default);

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.promo__slogan {
  margin: 0;
  font-family: var(--accent-font);
  line-height: 14px;
  color: var(--c-white-default);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.promo__button {
  padding: 7px 44px;

  font-size: 14px;
  line-height: 18px;
  z-index: 1;
}

.promo__image {
  position: absolute;
  top: 167px;
}
