.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    font-family: var(--accent-font);
    color: var(--c-black);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}
