.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.social__item {
  padding: 13px;
}

.social__item--telegram {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.social__link {
  display: flex;
}
