.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.social__item--telegram {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.social__link {
  display: flex;
  padding: 13px;
}

.social__picture {
  fill: #666666;

  .social__list a[href]:hover & {
    fill: var(--c-basic-green);
  }

  .social__list a[href]:active & {
    opacity: 0.3;
  }
}
